<% layout('layouts/boilerplate') -%>
<form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST">
  <div>
    <label for="title">タイトル</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%= campground.title %> "
    />
  </div>
  <div>
    <label for="locations">場所</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%= campground.location %> "
    />
  </div>
  <button>登録</button>
</form>
<a href="/campgrounds">一覧へ戻る</a>
